<div class= "page-header">
	<h1><%= @user.full_name %></h1>
</div>

<% if user_signed_in? %>
	<% if current_user.id != @user.id %>  
		<% if signed_in? %>
			<div id="friend-status">
				<% if current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
					<%= link_to "Edit Friendship", edit_user_friendship_path(friend_id: @user), class: 'btn' %>
				<% else %>
					<%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: 'btn', id:'add-friendship', data: {friend_id: @user.to_param} %>
				<% end %>
			</div>
		<% end %>
	<% end %>
<% end %>

<% if @statuses %>
	<% @statuses.each do |status| %>
		<div class="well">
	 		<%= status.content %>
	    	<hr />
	      	<%= link_to time_ago_in_words(status.created_at) + " ago", status %>
	    </div>
 	<% end %>
 <% end %>