<p id="notice"><%= notice %></p>

<p>
	<b>Name:</b>
	<%= @status.user.full_name %>
</p>
<p>
  <b>Content:</b>
  <%= @status.content %>
</p>

<%= render "comments/comments" %>
<%= render "comments/form" %>

<% if current_user == @status.user || current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_status_path(@status) %> |
	<%= link_to 'Back', statuses_path %>
<% end %>