<div class="row">
	<br>
	<div class= "span1 offset1">
      <%=  link_to image_tag(@status.user.gravatar_url), profile_path(@status.user) %>
    </div>
     <div class= "span10">	
		<h3><%= @status.user.profile_name %> says...</h3></br>
	</div>
	<div class= "span10 offset1">
			<div class = "icon_left"><i class= "icon-quote-left icon-2x"></i></div>
			<div class= "status_align"><%= @status.content %></div>
			<div class = "icon_right"><i class= "icon-quote-right icon-2x"></i></div>
	</div>
	<div class= "span12">
		<% if user_signed_in? %>
				<% if current_user == @status.user || current_user.try(:admin?) %>
					<div class= "align">
					<%= link_to raw('<i class="icon-circle-arrow-left"></i> back'), statuses_path %> | 
					<%= link_to raw('<i class="icon-edit"></i> edit'), edit_status_path(@status) %> | 
					<%= link_to raw('<i class="icon-trash"></i> delete'), @status, confirm: 'Are you sure?', method: :delete %></div></br>
				<% end %> 
			<% end %>	
			
			<%= render "comments/comments" %>
		
		<div class= "status_comment">
			<%= render "comments/form" %>
		</div>
	</div>
</div>