<%= form_for @photo, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :key %>
  </br>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>File: <%= @photo.image_name %></p>
  
  <p><%= f.submit %></p>
<% end %>
