<%= simple_form_for @photo, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :key %>
  </br>
  <div class = "span5 offset1"><h4 class="text-success">Step 3: Add some detail if you want...</h4>
    <%= f.input :name %>
    <%= f.label :story %>
    <%= f.text_area :story, rows: 10, label: "Story" %>
 </div>
  
  <div class = "span5"> <h4 class="text-success">Step 4: Post It!</h4></br> <%= f.button :submit, 'Post It!' %></div>
<% end %>

