<p id="notice"><%= notice %></p>

<div class="row">
	 <div class="span2">
	 	<div class="span8">  
			<%= image_tag @photo.image_url(:large).to_s %>
			

			<%= render "comments/comments" %>
			<%= render "comments/form" %>
		</div>
	</div>

	

</div>
<div>
<% if current_user.id == @photo.user_id || current_user.try(:admin?) %>
		<%= link_to 'Edit', edit_photo_path(@photo) %> |
		<%= link_to 'Back', photos_path %>
<% end %>

<p>
	<b>Photo Record:</b>
	<%= @photo.inspect %>
</p>
<p>
  <b>Content Location:</b>
  <%= @photo.image %>
</p>
</div>

<%= simple_form_for @photo do |f| %>
	<%= f.input :home_page %>
	<%= f.button :submit %>
<% end %>


<% if current_user.try(:admin?) %>


<% end %>