<p id="notice"><%= notice %></p>


	<div class="row">
		 <div class="span1">
		 </div>
		 	<div class="span10">
		 		<div class="photo">
			 	  	<div class="photo_image">
						<%= image_tag @photo.image_url(:large).to_s %>
					</div>
				</div>
			</div>
		
		<%= render "comments/comments" %>

		<div class="photo_comment_form">
			<%= render "comments/form" %>
		</div>
		
	</div>

<% if user_signed_in? %>	
	<% if current_user.id == @photo.user_id || current_user.try(:admin?) %>
			<%= link_to 'Edit', edit_photo_path(@photo) %> |
			<%= link_to 'Back', photos_path %>
	<% end %>

	<p>
		<b>Photo Record:</b>
		<%= @photo.inspect %>
	</p>
	<p>
	  <b>Content Location:</b>
	  <%= @photo.image %>
	</p>
	</div>

	<% if current_user.try(:admin?) %>
		
		<%= simple_form_for @photo do |f| %>
			<%= f.input :home_page,  as: :radio_buttons %>
			<%= f.input :rank %>
			<%= f.button :submit %>
		<% end %>

	<% end %>
<% end %>