<p id="notice"><%= notice %></p>

<p>
	<b>Photo Record:</b>
	<%= @photo.inspect %>
</p>
<p>
  <b>Content Location:</b>
  <%= @photo.image %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag @photo.image_url.to_s %>
</p>

<% if current_user.id == @photo.user_id || current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_photo_path(@photo) %> |
	<%= link_to 'Back', photos_path %>
<% end %>