<!DOCTYPE html>
<html>
<head>
  <title>Lunker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40433526-1', 'lun-ker.com');
  ga('send', 'pageview');

  </script>
</head>

<body>
  <div class="banner">
    <%=image_tag("banner.png", alt: "banner")%>
  </div>

	<div class="navbar" data-spy="affix" data-offset-top="70">
  	<div class="navbar-inner">
        <div class = "container">
      			<ul class="nav">
                <li><%= link_to raw('<i class="icon-home icon-large"></i> Home'), root_path %></li>
                <li class="divider-vertical"></li>
                <li><%= link_to raw('<i class="icon-camera-retro icon-large"></i> Photos'), photos_path %></li>
                <li class="divider-vertical"></li>
                <li><%= link_to raw('<i class="icon-comments-alt icon-large"></i> Forum'), statuses_path %></li>
                <li class="divider-vertical"></li>
                <li><%= link_to raw('<i class="icon-money icon-large"></i> Contests'), contest_index_path %></li>
    			 	</ul>

            <ul class="nav pull-right">
                <% if user_signed_in? %>
                  <li><%= link_to raw('<i class="icon-user icon-large"></i> Friends'), user_friendships_path %></li>
                  <li class="divider-vertical"></li>
                  <li><%= link_to current_user.profile_name, edit_reg_path %></li>
                  <li class="divider-vertical"></li>
                  <li><%= link_to "Log Out", logout_path %></li>
                <% else %>
                  <li><%= link_to "Register",register_path %></li>
                  <li><%= link_to "Log In",login_path %></li>
                <% end %>
            </ul>

  		  </div>
  	 </div>
  </div>

  <div class = "container">
    <% flash.each do |type, message| %>
      <div class= "alert <%= flash_class type %>">
          <button class="close" data-dismiss="alert"></button>
          <%= message %>
      </div>
    <% end %>


    <%= yield %>
  </div>

    <%= render 'layouts/footer' %>

</body>
</html>
